:root {
    --blue_color: #002C77;
    --red_color: #B22234;
    --white_color: white;
    --font_family: "Soria", "Times New Roman", Times, serif;
}

@font-face {
    font-family: "Soria";
    src: url('/assets/soria-font-webfont.woff') format('woff'),
         url('/assets/soria-font-webfont.woff2') format('woff2'),
         url('/assets/soria-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    display: table;
    margin: auto;
    color: black;
    font-family: var(--font_family);
    font-weight: bold;
    width: 1200px;
    height: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.3),
    rgba(255,255,255,0.3)),
    url("images.jpg");
    background-size: cover;
}

body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#page-content {
}

*{
  margin:0;
}





#header {
    background-image: url("flag.png");
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 40% 10% 50% ;
    height: 550px;
    grid-template-rows: 53.75% 46.25%;
    grid-template-areas:
        "title subtitle subtitle"
        "button1 button1 button2";
    text-shadow: -3px 3px 20px #ffffff;
}

#title {
    grid-area: title;
    display: grid;
    font-size: 420%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "title1"
        "title2";
}

#t1box, #t2box {
    position: relative;
}

#title1 {
    grid-area: title1;
    position: absolute;
    top: 9%;
    left: 2%;
}

#title2 {
    grid-area: title2;
    position: absolute;
    right: 2.5%;
    bottom: -19%;
}


#subtitle {
    grid-area: subtitle;
    display: grid;
    font-size: 175%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "subtitle1"
        "subtitle2";
}


#st1box {
    grid-area: subtitle1;
}

#st2box {
    grid-area: subtitle2;
}

#st1box, #st2box {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

#subtitle1 {
    position: absolute;
    bottom: 3.5%;
}

#subtitle2 {
    position: absolute;
    top: 13.5%;
}

#btn1box {
    grid-area: button1;
    position: relative;
    left: 20%;
    top: 25%;
    width: 60%;
    height: 50%;
}

#btn2box {
    grid-area: button2;
    position: relative;
    right: -20%;
    top: 25%;
    width: 60%;
    height: 50%;
}

#btn1, #btn2 {
    width: 100%;
    height: 100%;
    font-size: 250%;
    background-color: var(--white_color);
    font-family: var(--font_family);
    font-weight: bold;
    color: var(--red_color);
    border: solid;
    border-color: var(--blue_color);
    border-radius: 3px;
}

#btn1:hover,
#btn2:hover,
#btn1:target,
#btn2:target {
    background-color: var(--blue_color);
    color: white;
    text-shadow: 0 0 10px #ffffff;
}



#ColumnBlock {
    background-image: linear-gradient(rgba(255,255,255,0.7),
    rgba(255,255,255,0.7)),
    url("battle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: solid;
    border-width: 15px;
    border-color: var(--blue_color);
    padding: 1%;
    display: grid;
    height: 1000px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 50%;
    grid-template-areas:
        "scatter theadline"
        "scatter table"
        "pie table" ;
}

#leftScatter {
    grid-area: scatter;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
}


#leftBar {
    grid-area: pie;
    padding-top: 0.5%;
    padding-right: 0.5%;
}

#tableHeadline {
    grid-area: theadline;
    color: var(--red_color);
    font-size: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5%;
    text-shadow: 0 0 10px #ffffff;
}

#table {
    grid-area: table;
    border: solid;
    border-color: var(--red_color);
    border-radius: 3px;
}

th:nth-child(1), td:nth-child(1) {
    width: 60%;
  }

th:nth-child(2), td:nth-child(3) {
    width: 30%;
  }

th:nth-child(3), td:nth-child(3) {
    width: 10%;
    text-align: center;
  }

table {
    display: flex;
    flex-flow: column;
    padding: 0;
    width: 100%;
    height: 100%;
}

table thead {
    font-size: 175%;
    text-align: left;
    flex: 0 0 auto;
    width: calc(100% - 0.75vw);
}

table tbody {
    font-size: 120%;
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

th, td {
    border-bottom: 1px solid var(--blue_color);
}

tbody tr:hover {
    /* background-color: var(--red_color);
    text-shadow: 0 0 5px #ffffff; */
    background-color: var(--blue_color);
    color: white;
}

#MapBlock {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border-top: solid;
    border-width: 15px;
    border-color: var(--blue_color);
}

#MapGraph {
    padding: 1%;
}
