body, html {
    background: yellow;
    color: black;
    font: "Times New Roman", Times, serif;
    margin: 0%;
    width: 100%;
    height: 100%;
}

#Headline {
    font-size: 200%;
    text-align: center;
    display: block;
}

#SliderBlock {
    background-color: red;
    padding: 1%;
    display: flex;
    align-items: center;
}

#sliderLabel {
    display: inline-block;
    max-width: 28%;
}

#slider {
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;
    width: 100%;
}

#ColumnBlock {
    background: #eee;
    padding: 1%;
    display: grid;
    height: 1000px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 50%;
    grid-template-areas:
        "scatter theadline"
        "scatter table"
        "pie table" ;
}

#left_scatter {
    grid-area: scatter;
    background-color: brown;
    padding: 1%;
}

#left_pie {
    grid-area: pie;
    background-color: pink;
    padding: 1%;
}

#table_headline {
    grid-area: theadline;
    background-color: blue;
    font-size: 200%;
    text-align: center;
    width: auto;
    height: auto;
}

#table {
    grid-area: table;
    background-color: green;
    padding: 1%;
    width: auto;
    height: auto;
}

th:nth-child(1), td:nth-child(1) {
    width: 60%;
  }

th:nth-child(2), td:nth-child(3) {
    width: 30%;
  }

th:nth-child(3), td:nth-child(3) {
    width: 10%;
  }

table {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

table thead {
    font-size: 130%;
    text-align: left;
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

#MapBlock {
    display: block;
    width: 100%;
}
