#ColumnBlockOverview {
    background-image: linear-gradient(rgba(255,255,255,0.9),
    rgba(255,255,255,0.9)),
    url("image_battle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1%;
    display: grid;
    height: 1000px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 50%;
    grid-template-areas:
        "tsne theadline"
        "tsne table"
        "person table" ;
}

#leftScatter {
    grid-area: tsne;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
}


#BarOverview {
    grid-area: person;
}

#tableHeadline {
    grid-area: theadline;
    color: var(--blue_color);
    font-size: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5%;
    text-shadow: 0 0 10px #ffffff;
}

#table {
    grid-area: table;
    border: solid;
    border-color: var(--red_color);
    border-radius: 3px;
    overflow-y: scroll;
}

th {
    font-family: "Soria";
    font-size: 175%;
}

td {
    font-family: "Soria";
    font-size: 135%;
}


th:nth-child(1), td:nth-child(1) {
    width: 60%;
  }

th:nth-child(2), td:nth-child(3) {
    width: 30%;
  }

th:nth-child(3), td:nth-child(3) {
    width: 10%;
  }

tbody td:hover {
    color: var(--red_color);
}
