:root {
    --blue_color: #002C77;
    --red_color: #B22234;
    --white_color: white;
    --font_family: "Soria", "Times New Roman", Times, serif;
}

@font-face {
    font-family: "Soria";
    src: url('/assets/soria-font-webfont.woff') format('woff'),
         url('/assets/soria-font-webfont.woff2') format('woff2'),
         url('/assets/soria-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    display: table;
    margin: auto;
    color: black;
    font-family: var(--font_family);
    font-weight: bold;
    width: 1200px;
    height: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.3),
    rgba(255,255,255,0.3)),
    url("image_settlers.jpg");
    background-size: cover;
}

body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

P {
    color: var(--red_color);
}

a, a:link, a:visited {
  color: var(--blue_color);
  text-decoration: none;
}

* {
  margin:0;
}

#header {
    background-image: url("image_flag.png");
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 33.33% 6.67% 10% 16.67% auto;
    height: 550px;
    grid-template-rows: 53.75% 46.25%;
    grid-template-areas:
        "title title subtitle subtitle subtitle"
        "button1 button2 button2 button2 button3";
    text-shadow: -3px 3px 20px #ffffff;
}

#title {
    grid-area: title;
    display: grid;
    font-size: 420%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "title1"
        "title2";
}

#t1box, #t2box {
    position: relative;
}

#title1 {
    grid-area: title1;
    position: absolute;
    top: 9%;
    left: 2%;
}

#title2 {
    grid-area: title2;
    position: absolute;
    right: 2.5%;
    bottom: -19%;
}


#subtitle {
    grid-area: subtitle;
    display: grid;
    font-size: 175%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "subtitle1"
        "subtitle2";
}


#st1box {
    grid-area: subtitle1;
}

#st2box {
    grid-area: subtitle2;
}

#st1box, #st2box {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

#subtitle1 {
    position: absolute;
    bottom: 3.5%;
}

#subtitle2 {
    position: absolute;
    top: 13.5%;
}

#btn1box, #btn2box, #btn3box {
    left: 15%;
    top: 25%;
    width: 70%;
    height: 50%;
}

#btn1box {
    grid-area: button1;
    position: relative;
}

#btn2box {
    grid-area: button2;
    position: relative;
}

#btn3box {
    grid-area: button3;
    position: relative;
}

#btn1, #btn2, #btn3 {
    width: 100%;
    height: 100%;
    font-size: 250%;
    background-color: var(--white_color);
    font-family: var(--font_family);
    font-weight: bold;
    color: var(--red_color);
    border: solid;
    border-color: var(--blue_color);
    border-radius: 3px;
}

#btn1:hover,
#btn2:hover,
#btn3:hover,
#btn1:target,
#btn2:target,
#btn3:target {
    background-color: var(--blue_color);
    color: white;
    text-shadow: 0 0 10px #ffffff;
}

#MapBlock {
    display: block;
    width: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(255,255,255,0.8),
    rgba(255,255,255,0.8)),
    url("image_battle2.jpg");
    background-size: cover;
}

#MapGraph {
    padding: 1%;
}

.bar {
    padding-top: 0.5%;
    padding-right: 0.5%;
}

#ColumnBlockBook,
#ColumnBlockWord,
#ColumnBlockOverview,
#MapBlock,
#ddbox  {
    border-top: solid;
    border-width: 15px;
    border-color: var(--blue_color);
}
